.sprite {
	background: url('sprite.png') no-repeat 0 0;
	width: 1020px;
	height: 390px;
}
.cardBack {
	background: url('imgs/sprite.png') no-repeat -949px 0;
	width: 71px;
	height: 96px;
}
.Clubs_A {
	background: url('imgs/sprite.png') no-repeat 0 0;
	width: 71px;
	height: 96px;
}
.Clubs_2 {
	background: url('imgs/sprite.png') no-repeat -73px 0;
	width: 71px;
	height: 96px;
}
.Clubs_3 {
	background: url('imgs/sprite.png') no-repeat -146px 0;
	width: 71px;
	height: 96px;
}
.Clubs_4 {
	background: url('imgs/sprite.png') no-repeat -219px 0;
	width: 71px;
	height: 96px;
}
.Clubs_5 {
	background: url('imgs/sprite.png') no-repeat -292px 0;
	width: 71px;
	height: 96px;
}
.Clubs_6 {
	background: url('imgs/sprite.png') no-repeat -365px 0;
	width: 71px;
	height: 96px;
}
.Clubs_7 {
	background: url('imgs/sprite.png') no-repeat -438px 0;
	width: 71px;
	height: 96px;
}
.Clubs_8 {
	background: url('imgs/sprite.png') no-repeat -511px 0;
	width: 71px;
	height: 96px;
}
.Clubs_9 {
	background: url('imgs/sprite.png') no-repeat -584px 0;
	width: 71px;
	height: 96px;
}
.Clubs_10 {
	background: url('imgs/sprite.png') no-repeat -657px 0;
	width: 71px;
	height: 96px;
}
.Clubs_J {
	background: url('imgs/sprite.png') no-repeat -730px 0;
	width: 71px;
	height: 96px;
}
.Clubs_Q {
	background: url('imgs/sprite.png') no-repeat -803px 0;
	width: 71px;
	height: 96px;
}
.Clubs_K {
	background: url('imgs/sprite.png') no-repeat -876px 0;
	width: 71px;
	height: 96px;
}
.Spades_A {
	background: url('imgs/sprite.png') no-repeat 0 -98px;
	width: 71px;
	height: 96px;
}
.Spades_2 {
	background: url('imgs/sprite.png') no-repeat -73px -98px;
	width: 71px;
	height: 96px;
}
.Spades_3 {
	background: url('imgs/sprite.png') no-repeat -146px -98px;
	width: 71px;
	height: 96px;
}
.Spades_4 {
	background: url('imgs/sprite.png') no-repeat -219px -98px;
	width: 71px;
	height: 96px;
}
.Spades_5 {
	background: url('imgs/sprite.png') no-repeat -292px -98px;
	width: 71px;
	height: 96px;
}
.Spades_6 {
	background: url('imgs/sprite.png') no-repeat -365px -98px;
	width: 71px;
	height: 96px;
}
.Spades_7 {
	background: url('imgs/sprite.png') no-repeat -438px -98px;
	width: 71px;
	height: 96px;
}
.Spades_8 {
	background: url('imgs/sprite.png') no-repeat -511px -98px;
	width: 71px;
	height: 96px;
}
.Spades_9 {
	background: url('imgs/sprite.png') no-repeat -584px -98px;
	width: 71px;
	height: 96px;
}
.Spades_10 {
	background: url('imgs/sprite.png') no-repeat -657px -98px;
	width: 71px;
	height: 96px;
}
.Spades_J {
	background: url('imgs/sprite.png') no-repeat -730px -98px;
	width: 71px;
	height: 96px;
}
.Spades_Q {
	background: url('imgs/sprite.png') no-repeat -803px -98px;
	width: 71px;
	height: 96px;
}
.Spades_K {
	background: url('imgs/sprite.png') no-repeat -876px -98px;
	width: 71px;
	height: 96px;
}
.Hearts_A {
	background: url('imgs/sprite.png') no-repeat 0 -196px;
	width: 71px;
	height: 96px;
}
.Hearts_2 {
	background: url('imgs/sprite.png') no-repeat -73px -196px;
	width: 71px;
	height: 96px;
}
.Hearts_3 {
	background: url('imgs/sprite.png') no-repeat -146px -196px;
	width: 71px;
	height: 96px;
}
.Hearts_4 {
	background: url('imgs/sprite.png') no-repeat -219px -196px;
	width: 71px;
	height: 96px;
}
.Hearts_5 {
	background: url('imgs/sprite.png') no-repeat -292px -196px;
	width: 71px;
	height: 96px;
}
.Hearts_6 {
	background: url('imgs/sprite.png') no-repeat -365px -196px;
	width: 71px;
	height: 96px;
}
.Hearts_7 {
	background: url('imgs/sprite.png') no-repeat -438px -196px;
	width: 71px;
	height: 96px;
}
.Hearts_8 {
	background: url('imgs/sprite.png') no-repeat -511px -196px;
	width: 71px;
	height: 96px;
}
.Hearts_9 {
	background: url('imgs/sprite.png') no-repeat -584px -196px;
	width: 71px;
	height: 96px;
}
.Hearts_10 {
	background: url('imgs/sprite.png') no-repeat -657px -196px;
	width: 71px;
	height: 96px;
}
.Hearts_J {
	background: url('imgs/sprite.png') no-repeat -730px -196px;
	width: 71px;
	height: 96px;
}
.Hearts_Q {
	background: url('imgs/sprite.png') no-repeat -803px -196px;
	width: 71px;
	height: 96px;
}
.Hearts_K {
	background: url('imgs/sprite.png') no-repeat -876px -196px;
	width: 71px;
	height: 96px;
}
.Diamonds_A {
	background: url('imgs/sprite.png') no-repeat 0 -294px;
	width: 71px;
	height: 96px;
}
.Diamonds_2 {
	background: url('imgs/sprite.png') no-repeat -73px -294px;
	width: 71px;
	height: 96px;
}
.Diamonds_3 {
	background: url('imgs/sprite.png') no-repeat -146px -294px;
	width: 71px;
	height: 96px;
}
.Diamonds_4 {
	background: url('imgs/sprite.png') no-repeat -219px -294px;
	width: 71px;
	height: 96px;
}
.Diamonds_5 {
	background: url('imgs/sprite.png') no-repeat -292px -294px;
	width: 71px;
	height: 96px;
}
.Diamonds_6 {
	background: url('imgs/sprite.png') no-repeat -365px -294px;
	width: 71px;
	height: 96px;
}
.Diamonds_7 {
	background: url('imgs/sprite.png') no-repeat -438px -294px;
	width: 71px;
	height: 96px;
}
.Diamonds_8 {
	background: url('imgs/sprite.png') no-repeat -511px -294px;
	width: 71px;
	height: 96px;
}
.Diamonds_9 {
	background: url('imgs/sprite.png') no-repeat -584px -294px;
	width: 71px;
	height: 96px;
}
.Diamonds_10 {
	background: url('imgs/sprite.png') no-repeat -657px -294px;
	width: 71px;
	height: 96px;
}
.Diamonds_J {
	background: url('imgs/sprite.png') no-repeat -730px -294px;
	width: 71px;
	height: 96px;
}
.Diamonds_Q {
	background: url('imgs/sprite.png') no-repeat -803px -294px;
	width: 71px;
	height: 96px;
}
.Diamonds_K {
	background: url('imgs/sprite.png') no-repeat -876px -294px;
	width: 71px;
	height: 96px;
}
