
#maincontainer{
  width: 800px;
  height: 600px;
  position: relative;
  background-color: green;
  left: 300px;
  top: 40px;
  background-image: url("background.jpg");
  background-size: 800px 600px;
}
#dealerCards{
  position: absolute;
  border: dashed 1px;
  width: 350px;
  height: 103px;
  right: 250px;
  top: 0px;
  overflow: visible;
  display: flex;
}
#dealerCards>*{
flex-direction: column;
width:inherit;
height:96px;
border: dashed 1px;
margin: 3px;
}
#playerCards{
  position: absolute;
  width: 350px;
  height:103px;
  bottom: 100px;
  right: 250px;
  border: dashed 1px;
  overflow: visible;
  display: flex;
}
#playerCards>*{
flex-direction: column;
width:inherit;
height:96px;
border: dashed 1px;
margin: 3px;
}
#playerCounter{
  width: 100px;
  height: 20px;
  position: absolute;
  top: 300px;
  right: 350px;
  background-color: black;
  color: white;
}
#dealerCounter{
  width: 100px;
  height: 20px;
  position: absolute;
  top: 150px;
  right: 350px;
  background-color: black;
  color: white;
}
#buttons{
  margin: 10px;
  position: absolute;
  bottom: 1px;
  right: 1px;
  background-color: green;
  visibility: hidden;
}
#dealcards{
  width: 15em;
  background-color: white;
  position: absolute;
  bottom: 100px;
  right: 15px;
  border-radius: 10px;
  background-color: red;
  color: white;

}

#deal{
  width: 5em;
  height: 5em;
  border-radius: 10px;
  visibility: visible;
  background-color: red;
  color: white;
}
#hit{
  width: 5em;
  height: 5em;
  border-radius: 10px;
  visibility: visible;
  background-color: red;
  color: white;
}
#stand{
  width: 5em;
  height: 5em;
  border-radius: 10px;
  visibility: visible;
  background-color: red;
  color: white;
}
#double{
  width: 5em;
  height: 5em;
  border-radius: 10px;
  visibility: visible;
  background-color: red;
  color: white;
}
